@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #151515;
    --text: #e9dbb5;
    --primary: #ff391e;
    --border: #2b2b2b;
    --input: #232323;
    --green: #00d944;
    --radius: 0.5rem;
    --forebackground: #1d1d1dfb;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
  }
}
